<body>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div>
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password">
            </div>
            
            <button type="submit">Login</button>

            <div>New User? <a href="/register">Register</a></div>

            <% if(locals.error){ %>
                <p><%= error %></p>
            <% } %>
        </form>
    </div>
</body>