</main>

<!-- Bottom Footer Bar -->
  <footer class="main-footer">
      <div class="footer-container">
          <p class="footer-copy">&copy; 2026 Golb. All rights reserved.</p>
          <div class="footer-socials">
              <a href="#" class="footer-link">Privacy Policy</a>
              <a href="#" class="footer-link">Terms of Service</a>
              <a href="#" class="footer-link">Contact</a>
          </div>
      </div>
  </footer>

  

</body>
</html>