<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glob</title>

  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/styles.css">
</head>
  <body>

  <header class="main-navbar">
      <div class="nav-container">
          <a href="/" class="nav-logo">Golb</a>
          <nav class="nav-links">
              <a href="/" class="nav-item">Home</a>
              <a href="/write" class="nav-item">Write</a>
              <a href="/draft" class="nav-item">Drafts</a>
              <a href="/profile" class="nav-item nav-profile">Profile</a>
          </nav>
      </div>
  </header>


  <main class="content-wrapper">