html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}
label{
    display: flex;
    margin-top: 15%;
    margin-bottom: 5%;
}

input{
    width: 60%;
    height: 30px;
    border-radius: 30px;
    background-color: grey;
}
select{
    height:30px;
    border-radius: 10px;
    background-color: grey;
}